[user]
	name = Anton Redozubov
	email = anton@redozubov.ru
[color]
	ui = true
[core]
	autocrlf = false
	safecrlf = false
	quotepath = false
	editor = vim
[push]
	default = tracking
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
