/*
!/.bash_aliases
!/.bash_profile
!/.bin/
!/.gitignore
!/.gitmodules
!/.gitconfig
!/.gvimrc
!/.inputrc
!/.mostrc
!/.pdbrc
!/.screenrc
!/.vimrc
!/.vim/
!/.zshrc
!/.zsh/
/.vim/.netrwhist
.idea
bin/behat
bin/phpunit
build.properties
build/*
.buildpath
.project
.settings/
*.swp
vendor/*
composer.phar
data/templates/*
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
